@supports (display: flex) {
    .what-we-do {
        display: flex;
        justify-content: space-between;
        margin-top: 150px;
        @include mq(1020px) {
            display: block;
        }
    }
    
    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}


// Not Flex supported 
.about {
    padding: 150px 0 250px;
    background: url("../images/conference-room.jpeg");
    background-attachment: fixed;
    background-position-y: -400px;
    background-repeat: no-repeat;
    background-size: auto;
    border-top: 6px solid $black;
    overflow-x: hidden;
    h2 {
        color: $black;
        text-align: center;
        font-size: 30px;
        font-family: $theme-font;
        text-transform: uppercase;
    }
    @include mq(767px) {
        padding: 55px 0 50px;
    }
    @include mq(500px) {
        background: $white;
    }
}

.what-we-do {
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
    @include mq(1020px) {
        display: block;
    }
}

.card {
    width: 500px;
    padding: 65px 55px 50px;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    background: $white;
    box-shadow: 0px 0px 20px rgba($black, 0.25);
    &:hover {
        box-shadow: 0px 10px 70px rgba($black, 0.25);
        transform: scale(1.001);
        transition: all 0.2s ease-in-out;
    }
    img {
        width: 100px;
        height: 100px;
    }

    h3 {
        margin-top: 20px;
        font-family: $theme-font;
        color: $black;
        text-transform: uppercase;
        letter-spacing: 1.3px;
    }

    p {
        margin-top: 20px;
        font-family: $theme-font;
        color: $black;
    }
    @include mq(1368px) {
        width: 400px;
    }
    @include mq(1020px) {
        width: 100%;
        margin-bottom: 20px;
        margin: 20px auto;
        box-shadow: 0px 0px 0px;
    }
    @include mq(546px) {
        padding: 65px 5px 50px;
        width: 100%;
    }
    
}

.about-cta {
    position: relative;
    width: 180px;
    height: 50px;
    border: 1px solid $blue-light;
    border-radius: 5px;
    box-shadow: 0px 2px 10px rgba($black, 0.25);
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 5px;
    color: #00C1DE;
    text-transform: uppercase;
    margin-top: 40px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1.7px;
    cursor: pointer;
    &:hover {
        background: $blue-light;
        color: $white;
        transition: all 0.2s ease-in-out;
    }
    &:active {
        top: 1px;
        right: 1px;
    }
}

